# shellcheck shell=bash

export DIRENV_LOG_FORMAT=""

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

# See https://direnv-flake-overrides.blocksense.network
# Allows flake inputs to be easily overridden from your local .env file
source_url "https://direnv-flake-overrides.blocksense.network/plugin" \
  "sha256-BTxlsheP/7/FQw9IBPGFc6zYTl5S2qdAAt3EUqfkbjI="

dotenv_if_exists

mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"
use flake ".#${DEV_SHELL:-default}" --override-input devenv-root "file+file://$DEVENV_ROOT_FILE" --accept-flake-config

if [[ "$NIX_DIRENV_DID_FALLBACK" = 1 ]]; then
  exit 1
fi
