# shellcheck shell=bash

export DIRENV_LOG_FORMAT=""

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

dotenv_if_exists

use flake ".#${DEV_SHELL:-default}" --impure
if [[ "$NIX_DIRENV_DID_FALLBACK" = 1 ]]; then
  exit 1
fi
