# shellcheck shell=bash

export DIRENV_LOG_FORMAT=""

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

dotenv_if_exists

mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"

git update-index --assume-unchanged nix/test-environments/test-keys/[A-Z]*
git update-index --skip-worktree nix/test-environments/test-keys/[A-Z]*

use flake ".#${DEV_SHELL:-default}" --override-input devenv-root "file+file://$DEVENV_ROOT_FILE" --accept-flake-config

if [[ "$NIX_DIRENV_DID_FALLBACK" = 1 ]]; then
  exit 1
fi
